@import 'bootstrap';
@import 'bootstrap-icons';

body {
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h-70 {
    height: 70vh;
}

.bi {
    color: white;
    font-size: 1.5rem;
}

.bi:hover {
    color: #F29100;
}

.nav-link {
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 0.8;
}

.nav-link:hover, .active {
    color: #F29100 !important;
}


#footer {
    height: 3rem;
}


#card-category {
    color: #F29100;
}

.btn-gym {
    background-color: #F29100;
    border: none;
}

.btn-gym:hover {
    background-color: black;
}

.text-shadow {
    text-shadow: 0 0.5rem 1rem black;
}